beamer-files/*
convert.sh
footer.tex
header.tex
images
_images/*
LICENSE
links.md
Makefile
material/*
reveal.js
talk-2015.md
talk-current.pdf
talk-long.md
talk.md
talk-pb.md
talk.pdf
talk.tex
talk-tmp.md
talk-to-jason.pdf
templates
texput.log
wtf-talk.md
